@import '../../styles/config.scss';

.portfolio-container {
	.item-wrapper {
		padding: 0.5rem;

		button {
			position: relative;
			border: none;
			background: transparent;
			padding: 0;	
			
			img {
				display: block;
				width: 100%;
				margin: 0 auto;
			}

			&:hover {
				&::after {
					position: absolute;
					content: '';
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.1);
				}
			}
		}

		@media only screen and (min-width: $tablet-min) {
			padding: 1.5rem;
		}
	}
}

.portfolio-item {
	button {
		background: transparent;
		border: none;
		margin: 1rem 0;
	}

	img {
		width: 100%;
	}

	a {
		display: inline-block;
		margin: 2rem 0;
		padding: 1rem 4rem;
		border-radius: 5rem;
		min-height: 4.4rem;
		background-color: $blue;
	}
}