@import './normalize.scss';
@import './flexgrid.scss';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600');
@import './config.scss';

html {
	box-sizing: border-box;
	font-size: 10px;
	font-family: 'Work Sans', Arial, sans-serif;
}
*, *:before, *:after {
	box-sizing: inherit;
	font-weight: 300;
}
body {
	background-color: #383838;
	color: #fff;
}
.container-fluid {
	margin-bottom: 4.4rem;
	font-size: 2rem;

	@media only screen and (min-width: $tablet-min) {
		margin: 0 25rem 0 0;
	}

	@media only screen and (min-width: $desktop-min) {
		margin: 0 30rem 0 0;
	}
}

button, a {
	color: #fff;

	&:hover {
		cursor: pointer;
	}
}