@import '../../styles/config.scss';

#login-box {
	background: $grey;
	margin: 8rem auto 0;
	padding: 4rem 1rem 2rem;

	.field-wrapper {
		margin-bottom: 2rem;
	}

	input {
		background: $med-grey;
		border-color: transparent;
		color: #FFF;
		width: 100%;
		padding: 1rem;
	}
}